[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
pytest = "*"
pytest-mock = "*"
v = {editable = true,version = "*"}

[packages]
azure-functions = "*"
azure-identity = "*"
azure-keyvault-secrets = "*"
azure-servicebus = "*"
msal = "*"
requires = "*"

[requires]
python_version = "3.9"
