-i https://pypi.org/simple
atomicwrites==1.4.0 ; sys_platform == 'win32'
attrs==20.3.0
azure-common==1.1.27
azure-core==1.12.0
azure-functions==1.7.0
azure-identity==1.5.0
azure-keyvault-secrets==4.2.0
azure-servicebus==7.1.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4 ; sys_platform == 'win32'
cryptography==3.4.7
funkify==0.3.0
idna==2.10
importlib-metadata==3.10.0 ; python_version < '3.8'
iniconfig==1.1.1
isodate==0.6.0
msal-extensions==0.3.0
msal==1.10.0
msrest==0.6.21
oauthlib==3.1.0
packaging==20.9
pluggy==0.13.1
portalocker==1.7.1 ; platform_system == 'Windows'
py==1.10.0
pycparser==2.20
pyjwt[crypto]==2.0.1
pyparsing==2.4.7
pytest-mock==3.5.1
pytest==6.2.2
pywin32==300 ; platform_system == 'Windows'
requests-oauthlib==1.3.0
requests==2.25.1
requires==0.9.0
six==1.15.0
toml==0.10.2
typing-extensions==3.7.4.3 ; python_version < '3.8'
uamqp==1.2.15
urllib3==1.26.4
zipp==3.4.1
